<h2>Для зворотнього зв'язку</h2>

<form action="/contacts" method="POST">
  <div class="mb-3">
    <label class="form-label">Електронна пошта</label>
    <input name="email" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Введіть пошту">
  </div>
  <br> </br>
  <div class="mb-3">
    <label class="form-label">Ваше повідомлення</label>
    <input name="message" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Введіть повідомлення">
  </div>
  <br> </br>
  <button type="submit" class="btn btn-warning">Відправити</button>
</form>